a.active{
  background-color: white;
  color: black;
  padding: 5px 15px;
  border: 1px solid skyblue; 
  border-radius: 5px;
  cursor:default;
}

a:hover{
  color: darkgray;
}
a.active:hover{
  color: black;
}
